targets:
  - # Only 'ping' supported
    type: ping
    # Target ipv4 address or domain name to monitor
    address: 1.1.1.1
    # (Optional) Timeout for each ping request. Default is 5000ms
    timeout_millis: 5000
    # (Optional) Interval between each ping request. Default is 15000ms
    interval_millis: 15000
  - type: ping
    address: wikipedia.org
monitoring:
  prometheus:
    # Port to expose Prometheus metrics on. Default is 8000
    port: 8000
